# macOS system files
**/.DS_Store
.AppleDouble
.LSOverride

# Xcode project user-specific files
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.moved-aside

# Xcode Derived Data & Build Products
DerivedData/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3

# Swift Package Manager
Packages/
.swiftpm/
